<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Admin</title>
</head>
<body>
	<section>
		<div class="container p-5">
		<p class="text-center fs-3 mt-4">Admin Dashboard</p>
			<div class="row p-5">
			
				<div class="col-md-4 mt-2">
				<a href="/admin/addProduct" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
						<i class="fa-solid fa-square-plus fa-3x"></i>
					     <h4 class="fs-4 fs-bold">Add Products</h4>						
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
				<a href="/admin/category" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-warning">
						<i class="fa-solid fa-list fa-3x"></i>
					     <h4 class="fs-4 fs-bold">Category</h4>						
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-2">
				<a href="/admin/loadProduct" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
						<i class="fa-solid fa-book-open fa-3x"></i>
					     <h4 class="fs-4 fs-bold">View Product</h4>						
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-4 mt-4">
				<a href="/admin/orders" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-success">
						<i class="fa-solid fa-box-open fa-3x"></i>
					     <h4 class="fs-4 fs-bold">Orders</h4>						
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-4">
				<a href="/admin/users" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-info-emphasis">
						<i class="fa-solid fa-circle-user fa-3x"></i>
					     <h4 class="fs-4 fs-bold">User</h4>						
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-4">
				<a href="#" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-dark">
						<i class="fa-solid fa-gears fa-3x"></i>
					     <h4 class="fs-4 fs-bold">Add Admin</h4>						
						</div>
					</div>
					</a>
				</div>

			</div>
		</div>
	</section>
</body>
</html>