<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="container mt-5 p-5 bg-light">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<!-- <div class="card">
						<div class="card-body"> -->
					<p class="fs-3 text-center">My Profile</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
						<th:block th:text="${@commanServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commanServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<div class="text-center">
						<img alt="" th:src="@{'../img/profile_img/'+${user.profileImage}}"
							class="border p-2"
							style="width: 100px; height: 100px; border-radius: 50%;">
					</div>
					<div class="col-md-8 offset-md-2">
						<table class="table table-borderless">
							<tbody>
								<form action="/user/update-profile" method="post"
									enctype="multipart/form-data">
									<tr>
										<th scope="row">Name</th>
										<td>:</td>
										<td><input type="text" name="name" class="form-control"
											th:value="${user.name}"></td>
									</tr>
									<tr>
										<th scope="row">Mobile No</th>
										<td>:</td>
										<td><input type="number" name="mobileNumber"
											class="form-control" th:value="${user.mobileNumber}"></td>
									</tr>
									<tr>
										<th scope="row">Email</th>
										<td>:</td>
										<td><input type="emil" name="email" class="form-control"
											readonly="readonly" th:value="${user.email}"></td>
									</tr>
									<tr>
										<th scope="row">Address</th>
										<td>:</td>
										<td><input type="text" name="address"
											class="form-control" th:value="${user.address}"></td>
									</tr>
									<tr>
										<th scope="row">City</th>
										<td>:</td>
										<td><input type="text" name="city" class="form-control"
											th:value="${user.city}"></td>
									</tr>

									<tr>
										<th scope="row">State</th>
										<td>:</td>
										<td><input type="text" name="state" class="form-control"
											readonly="readonly" th:value="${user.state}"></td>
									</tr>

								<tr>
									<th scope="row">Pincode</th>
									<td>:</td>
									<td><input type="number" name="pincode"
										class="form-control" th:value="${user.pincode}"></td>
								</tr>

								<tr>
									<th scope="row">Image</th>
									<td>:</td>
									<td><input type="file" name="img" class="form-control"></td>
								</tr>
								<tr>
									<th scope="row">Role</th>
									<td>:</td>
									<td><input type="text" name="role" class="form-control"
										readonly="readonly" th:value="${user.role}"></td>
								</tr>
								<tr>
									<th scope="row">Account Status</th>
									<td>:</td>
									<td><input type="text" name="IsEnable"
										class="form-control" readonly="readonly"
										th:value="${user.IsEnable}"></td>
									<input type="hidden" th:value="${user.id}" name="id">
								</tr>
								<tr>
									<td></td>
									<td class="text-center">
										<button class="btn btn-sm bg-primary">Update</button>
									</td>
								</tr>
								</form>
							</tbody>

						</table>
					</div>

				</div>
				<hr>
				<div class="col-md-10 offset-md-1 mt-1">
					<div class="row">
						<p class="text-center fs-3">Change Password</p>
						<div class="col-md-6 offset-md-3">
							<table class="table table-borderless">
								<tbody>
									<form action="/user/change-password" method="post">
										<tr>
											<th scope="row">Current Password</th>
											<td></td>
											<td><input type="text" name="currentPassword" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">New Password</th>
											<td></td>
											<td><input type="text" name="newPassword" class="form-control"></td>
										</tr>
										<tr>
											<th scope="row">Confirm Password</th>
											<td></td>
											<td><input type="text" name="confirmPassword" class="form-control"></td>
										</tr>

										<tr>
											<td></td>
											<td class="text-center">
												<button class="btn btn-sm bg-primary">Update</button>
											</td>
										</tr>
									</form>
								</tbody>


							</table>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- 	</div>

		</div> -->

	</section>

</body>
</html>